@model IEnumerable<VendedoresWebMvc.Models.Vendedor>;

@{
    ViewData["Title"] = "Vendedores";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped tatble table-hover">
    <p>
        <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
    </p>
    <thead>
        <tr class=" bg-primary">
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class ="text-white">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.DiaDoAniversario)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>
            <th class="text-white">              
           </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaDoAniversario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioBase)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>              
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>              
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>

</table>